<IfModule mod_negotiation.c> 
  Options -MultiViews 
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On 
  RewriteBase /sev2026/t8/ 
  RewriteRule ^index\.html$ - [L] 
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteRule . /sev2026/t8/index.html [L]
</IfModule>
 
